<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karen.trabalhofinal">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Controller.SplashActivity"
            android:label="App Candidatos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controller.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Controller.DespesaActivity" />
        <activity android:name=".Controller.PartidosActivity" />
        <activity android:name=".Controller.InfoDeputadoActivity" />
        <activity android:name=".Controller.RankingActivity" />
        <activity android:name=".Controller.SignUpActivity"
            android:theme="@style/AppTheme.Dark"/>
        <activity android:name=".Controller.LoginActivity" android:theme="@style/AppTheme.Dark">
        </activity>
        <provider android:authorities="com.facebook.app.FacebookContentProvider{2137569999843241}"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>
    </application>

</manifest>